<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= params[:name] %>様、example.comへようこそ。</h1>
      <p>
      <font color = "green">
      example.comへのサインアップが成功しました。
      </font>
    </p>
    <p>
      このサイトにログインするにはここをクリック
    </p>
    <p>ご入会ありがとうございます。どうぞお楽しみくださいませ。</p>
    <p>これはhtmlです</p>
  </body>
</html>
